{% extends "::base.html.twig" %}

{% block body %}
<ol>
    {% for t in table1 %}
    <li>
        {{ dump(t.user.name) }}
    </li>
    {% endfor %}
</ol>
        <hr>
<ol>
    {% for t in table2 %}
    <li>
        {{ dump(t.item.isbn) }}
    </li>
    {% endfor %}
</ol>
{% endblock %}